.header-arrow {
  font-weight: var(--font-weight-text2);
  font-size: 36px;
  margin-bottom: 16px;
  cursor: pointer;
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  touch-action: manipulation;
}