.favoriteMovies-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.seeMoreFavoriteMovies-btn {
  border-radius: 8px;
  height: 32px;
  width: 7em;
}

.favoriteMovies-movieList {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 241px;
  padding-left: 24px;
  padding-bottom: 16px;
}

.favoriteMovies-movieList .movie-container {
  display: inline-block;
  margin-right: 8px;
}

.favoriteMovies-movieList .movie-container .movie-img {
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}

.animation {
  animation: slide-up 0.5s forwards;
}

@keyframes slide-up {
  from {
    position: relative;
    top: 100px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}